body {
    background-color: rgb(235, 68, 68);
    margin: 0;
    padding: 0;
}


/* Header */

.navbar {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    height: 4rem;
}

.brand-title {
    font-size: 1.5rem;
    margin: 1rem;
    color: red;
}

.navbar-links {
    margin: 0.5rem;
    display: flex;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li .badAnchors:hover {
    color: rgb(95, 201, 95);
}

.navbar-links li .goodAnchors:hover {
    color: rgb(142, 64, 214);
}

.toggle-btn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width:658px) {
    .navbar-links li {
        font-size: 0.8rem;
    }
}

@media(max-width:600px) {
    .toggle-btn {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        background-color: black;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}


/* End of Header */