body {
    background-color: rgb(68, 71, 235);
    margin: 0;
    padding: 0;
}


/* Header */

.navbar {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 206, 98);
    color: white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 4rem;
}

.brand-title {
    font-size: 1.3rem;
    margin: 1rem;
    color: rgb(68, 71, 235);
}

.navbar-links {
    margin: 0.5rem;
    display: flex;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li .badAnchors:hover {
    color: rgb(216, 44, 53);
}

.navbar-links li .goodAnchors:hover {
    color: rgb(50, 219, 231);
}

.active-bad {
    color: rgb(216, 44, 53) !important;
}

.active-good {
    color: rgb(50, 219, 231) !important;
}

.toggle-btn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width:658px) {
    .navbar-links li {
        font-size: 0.8rem;
    }
}

@media(max-width:600px) {
    .toggle-btn {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        background-color: black;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}


/* End of Header */


/* Start of Body */

.home-text {
    background-color: rgb(21, 206, 98);
    margin: 3rem;
    padding: 2rem;
    font-family: "Courier";
    text-align: center;
    color: whitesmoke;
}

.home-text .blog-text {
    text-align: left !important;
}

.home-text .blog-text h3 {
    text-align: center !important;
}

.graphs {
    /* padding: rem !important; */
    margin: auto;
    display: block;
}

.home-img {
    margin: 1rem auto;
    display: block;
    max-width: 100%;
    height: auto;
    /* height: 500px;
  width: 700px;
  margin: 50px 75px; */
}


/* Comments Section */

.comments {
    margin: auto;
    display: block;
}

.comments .inputs input {
    margin: 0.5rem auto;
    display: block;
    width: 90%;
}

#main-comment {
    height: 5rem;
    overflow-x: none;
    overflow-y: hidden;
}

button {
    margin: auto;
    display: block;
    width: 5.5rem;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(68, 71, 235);
    border: none;
    padding: 0.5rem;
}

iframe {
    width: 80%;
    padding: 2rem;
}

.home-text ol {
    text-align: left !important;
}

ol a {
    text-decoration: none;
    color: blue;
    padding: 1rem;
}

ol li {
    padding: 1rem;
}


/* End of Body */